body{ 
  background-position: center;
  height: 1800;
  background-attachment: fixed;
  background-size: cover;
  }
  
  .nav-container{
  position: sticky;
  z-index: 3;
  top: 0;
  justify-content: space-between;
  
  }
  
  .navbar{
  display: flex;
  justify-content: space-between;
  background-color: #444;
  
  }
  
  .ver-carrito{
  font-size: 25px;
  align-items: 20px;
  margin-top: 3.5vh;
  cursor: pointer;
  
  
  }
  
  .banner{
  background-size: cover;
  background-position: center;
  height: 50%;
  width: 100%;
  background-image: url(https://tse1.mm.bing.net/th?id=OIP.untn8SAydJEzlKTSRLySFQHaEb&pid=Api&P=0&h=180);
  }
  .banner-container{
  text-align: center;
  padding: 15%;
  }
  
  .card{
  max-width: 600px;
  margin: auto;
  text-align: center;
  
  }
  
  .card >img{
  width: 41%;
  height: 200px;
  transition: 200 ms;
  }
  
  .card .comprar{
  border:none;
  padding: 12px;
  margin: 0;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  width: 250px;
  font-size: 12px;
  }
  .card .comprar:hover{
  color: blue;
  }
  .modal-container .price {
      color: rgb(253, 252, 252);
      font-size: 20px;
    }
  
    .modal-container .modal-header-content {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin: 10px;
    }
    
    .modal-container >div>img {
      height: 80px;
      width: 80px;
    
      text-align: center;
    }
  
    .total-content {
      font-size: 25px;
      padding: 20px;
      text-align: center;
      padding-top: 20px;
    }
  
    .modal-container {
      width: 80%;
      margin: 0 10%;
      max-height: 88vh;
      color: aliceblue;
      background-color: rgb(5, 4, 4);
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      overflow: auto;
      z-index: 9;
      top: 12vh;
      scrollbar-color: none;
    }
    
    .finalizar-compras {
      background-color: rgb(169, 156, 156);
      color: white;
      font-size: 12px;
      padding: 10px;
    
      cursor: pointer;
    }
  .delate-product{
      cursor: pointer;
  }
  
  .cantidad-carrito{
      background-color: red;
      color: white;
      border-radius: 50%;
      font-size: 12px;
      padding: 14px;
      top: 37px;
      left: 14px;
      position: absolute;
  
  }
  form {
    background: rgba(255, 255, 255, 0.2);
    width: 450px;
    border-radius: 25px;
    height: 400px;
    padding: 25px;
    box-sizing: border-box;
    margin: 50px auto 50px;
    box-shadow: 5px 5px 5px 5px rgb(10, 8, 8);
  }
  
  form h1 {
    color: rgb(17, 14, 14);
    text-align: center;
    font-size: 22px;
  }
  
  label {
    color: rgb(164, 115, 115);
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 15px;
    display: inline-block;
  }
  
  input,
  textarea {
    box-sizing: border-box;
    width: 400px;
    height: 30px;
    padding: 10px;
    outline: none;
    resize: 50px;
  }
  
  textarea {
    height: 50px;
  }
  
  #button-row {
    display: flex;
    justify-content: space-evenly;
  }
  
  button {
    flex-grow: 1;
    width: 125px;
    margin: 15px;
    border: none;
    outline: none;
  
    height: 35px;
    cursor: pointer;
    color: rgb(251, 255, 255);
  }
  
  button#send {
    background: rgb(9, 5, 5);
  }
  
  button#reset {
    background: black;
  }